* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	text-decoration: none;
	color: #00afb9;
}

body {
	font-family: "Poppins", sans-serif;
}

input {
	padding: 11px 20px;
}

.shop-list {
	background-color: #fdfcdc;
	text-align: center;
	align-items: center;
}

.boder-dg {
	border: 3px solid #00afb9 !important;
}

::placeholder,
a {
	color: #00afb9;
}

button,
.btn-1 {
	/* width: 100%; */
	padding: 14px 20px;
	border-radius: 5px;
	border: none;
	background-color: #f07167;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}

.user-image-size {
	height: 56px;
	margin: 4px 0;
}

.shop-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

li {
	background-color: #fed9b7;
	justify-content: space-between;
	align-self: center;
	padding: 0 10px;
	margin: 5px;
}
li * {
	margin: 0;
	padding: 0;
}
.nav_bar {
	background-color: #fdfcdc;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 1.4rem;
}

.menu_list a {
	margin: 1.2rem;
	font-size: 14px;
	font-weight: bold;
	color: #00afb9;
}

.lg_btn {
	margin-left: 2rem;
	padding: 5px 1rem;
	border-radius: 10px;
	color: #fff;
	background: #f07167;
	cursor: pointer;
}

/* Home section style */
.home_section {
	background-image: url(./pic/bg.jpg);
	background-size: cover;
	height: 100vh;
}

.overlay {
	height: 100%;
	background: #fed9b7;
}

.updateForm {
	width: 100%;
	justify-content: center;
	align-items: center;
	justify-items: center;
	align-self: center;
	justify-self: center;
}

.home {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.home h1 {
	font-size: 4rem;
	color: #fff;
	text-transform: capitalize;
}

.home span {
	color: #00afb9;
}

.home_buttons {
	margin-top: 2rem;
}

.home_buttons button {
	padding: 10px 1rem;
	border-radius: 10px;
	margin: 1rem;
	cursor: pointer;
	font-size: 1rem;
}

.home_buttons button i {
	margin-right: 10px;
}

/* Services */
.stores {
	background: #fdfcdc;
	padding: 2rem 1rem;
}

.stores .title {
	text-align: center;
}

.shopimg {
	height: 100px;
	width: 100px;
	object-fit: cover;
	/* object-fit: contain; */
	/* object-fit: fill; */
}

#updateForm {
	display: flex;
	justify-content: space-around;
}
