body {
	font-family: Arial, sans-serif;
	background-color: #fdfcdc;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #00afb9;
}
a {
	padding: 10px;
	margin: 10px;
	text-decoration: none;
}

::placeholder,
a {
	color: #00afb9;
}

.boder-dg {
	border-width: 3px !important;
	border-color: #00afb9 !important;
}
.border-dg:focus {
	border-width: 3px !important;
	border-color: #00afb9 !important;
}

.login-container {
	text-align: center;
	background-color: #fed9b7;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(79, 76, 76, 0.1);
}
.login-container h2 {
	text-align: center;
	margin-bottom: 20px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #5a5656;
}
button {
	width: 100%;
	padding: 14px 20px;
	border-radius: 5px;
	border: none;
	background-color: #f07167;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}
button:hover {
	background-color: #e55247;
}

.container {
	text-align: center;
	width: 50%;
	margin: 50px auto;
	background-color: #fed9b7;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
	text-align: center;
	margin-bottom: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
}
